body{
  height: 100%;
  width: 100%;
  margin: 0;
  background:#baf1d8;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#header{
  background:#373737;
  width:100%;
  height:10vh;
  z-index:100;

}

#mobileNavBar{
  display:none;
  float:left;
  width: 40vw; 
  height:30vh;
  position: absolute;
  margin-top:0;
  z-index:99;
}

#navbar{
  display:inline-block;
  width:3vh;
  height:3vh;
  text-align:center;
  line-height:3vh;
  font-size:2.5vh;


  margin:2.5vh;
  padding:1vh;
  background:#E8E9EB;
  border-radius:1vh;

}

#navbar:hover{
  background:#02c4b1;
  color:#ffffff;
  border:none;
}

h1{
  display:inline-block;
  color:#E8E9EB;
  font-family:Calibri,"Times New Roma", sans-serif;
  text-align:center;
  margin:.5vh;
  margin-left:20vw;
  font-size: 5vh;
  padding-top:1.5vh;
  vertical-align: top;
}

#navList{
  list-style-type: none;
  margin:0;
  padding:0;
}

#navList a{
  display:block;
  width:38vw;
  text-decoration:none;
  color:#ffffff;
  font-family:Calibri,"Times New Roma", sans-serif;
  font-size:3.5vh;
  border-bottom: .4vh white solid;
  padding:1.5vh;
  padding-right:0;
}

#navList .active{
  display:block;
  background:#05f5dd;
  font-weight: bold;
}

#navList a:hover{
  background:#05f5dd;
}




main{
  min-height:70vh;
  margin-bottom:75px;
  
}
main:after{
  content:"";
  display:block; 
  height:25px;
}

#bodyText{
  margin:auto;
  position:relative;
  width:100%;
  background-position: 50% 100%;
  background-attachment: fixed;
  background-size:100% auto;
  font-family:Calibri,"Times New Roma", sans-serif;

  background-color:rgba(255,255,255,.8);

  
}



figure {
    display: inline-block;
    text-align:center;
    max-width:80%;
}
figure img{
    vertical-align: top;
    max-width:100%;
}
figure figcaption {
    text-align: center;
    margin-top:5px;
}

#bodyText div:not(.UC,.MS, .st){
  margin-left:2%;
  margin-right:2%;

}

#bodyText > div{
  padding-top:10px;

}

.contact{
  font-size:40px;
  color:#505050;
  height:40px;
  transform: translate(0, 5px);
  margin-right:20px;
}

#title{
  font-size:24pt;
  text-align:center;
  margin:0;
}
#contactline{
  font-size:12.5pt;
  text-align:center;
  margin:0;
}
.subtitle{
  font-size:14pt;
  margin:0;
}
hr{
  margin-top:0;
}
.st{
  margin-left:0;
}
.MS{
  margin-left:0;
  font-size: 14pt;
  display:inline-block;
  width:5%;
  vertical-align: top;
}
.UC{
  margin-left:0;
  display:inline-block;
  width:90%;
}
.st span{
  font-size: 14pt;
}
.st p{
  font-size:12pt;
  margin:0;
}

.date{
  display:block;
  text-align: right;
}







footer{
  color:#E8E9EB;;
  background:#373737;
  height: 20vh;
  text-align:center;

  clear: both;
  position: relative;
  margin-top: -100px;
}

footer p{
  width:80%;
  margin:auto;
  padding-top:2vh;

}

footer i{
  width:8vh;
  background:white;
  color:black;
  margin-left:2vh;
  margin-right:2vh;
  padding-top:1vh;
  padding-bottom:1vh;
}


@media screen and (min-width:1000px){

#mobileNavBar, #navbar, #navbar:hover,#navLis,#navList a, #navList .active, #navList a:hover{
  all:unset;
}

#navbar{
  display: none;
}
#navList, #navList a, #navList .active,#navList a:hover{
  all:unset;
}

#header{
  height:60px;
}

#navList li {
  display:inline-block;
  float:right;
  color:#E8E9EB;
  background:#373737;
  padding-left:13px;
  padding-right:13px;
  font-family:Calibri,"Times New Roma", sans-serif;
  text-align: center;
  line-height:60px;
  font-size:110%;
  border-left:2px solid white;
}

#navList a{
  opacity:.7;
}
#navList .active{
  opacity:1;
}

h1{
  float:left;
  font-size:35px;
  margin-left:30px;
  margin-right:0;
  padding-top:7px;
}

#bodyText{
  width:80%;
}


#about{
  display:inline-block;
  vertical-align: top;
  width:55%;
}

figure{
  display:inline-block;
  width:40%;
  margin:0;
  padding-top:50px;
}

.date{
  display:inline-block;
  float:right;

}




}









